.productListHeading {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
  color: #202223;
}

.listLabels h2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0;
  color: #000;
}

.listLabels {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.listLabels h2 {
  flex: 1;
  flex-basis: 40%;
  padding: 0 40px;
}

.listLabels h2:first-child {
  flex: 1;
  flex-basis: 60%;
}

.addProductWrapper {
  display: flex;
  justify-content: end;
  margin-right: 21.5%;
}
