.variantRow {
  display: grid;
  grid-template-columns: 1fr 200px 24px;
  align-items: center;
  gap: 12px;

  margin-left: 36px;
  padding: 10px 14px;
}

.variantName {
  font-size: 14px;
  color: #222;
  line-height: 1.2;
  white-space: normal;
  background: #fff;
  border-radius: 999px;
  border: 1px solid #e5e5e5;
  padding: 10px 14px;
}

.variantDiscount {
  background-color: #008060;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 14px;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
}

.variantDiscount:hover {
  background-color: #00664c;
}

.variantRemove {
  background-color: transparent;
  color: #999;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.variantEditor {
  display: flex;
  gap: 10px;
}

.variantValue {
  display: flex;
  align-items: center;
  border: 1px solid #dcdcdc;
  padding: 8px 8px;
  background: #fff;
  cursor: pointer;
  border-radius: 999px;
  width: 30%;
}

.variantMode {
  display: flex;
  align-items: center;
  border: 1px solid #dcdcdc;
  padding: 8px 15px;
  background: #fff;
  cursor: pointer;
  border-radius: 999px;
  width: 50%;
}
